.onboarding {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 30px 16px;
    text-align: center;
    background-color: var(--background-white);
    overflow-y: auto;
}

.onboarding__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
}

.onboarding__title {
    margin-bottom: 12px;
}

.onboarding__description {
    margin-bottom: 40px;
}

.onboarding__steps {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin-bottom: auto;
}

.onboarding__step {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #B3B3B3;

    &.current {
        background-color: var(--background-black);
    }
}

.onboarding__btn {
    flex-shrink: 0;
}