.amenities {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 24px 16px;
    overflow-y: auto;
}

.amenities__items {
    margin-bottom: auto;
    padding: 16px 12px;
    background-color: var(--background-white);
    border-radius: var(--border-radius-10);
}

.amenities__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    border-bottom: 1px solid #EFEFF4;
}

.amenities__item-key {
    &.green {
        color: var(--content-green);
    }
}