.general {

}

.general_head {

}

.general_body {
    padding: 30px 16px;
    background-color: #EFEFF4;
    border-top-left-radius: var(--border-radius-14);
    border-top-right-radius: var(--border-radius-14);
}

.general__card {
    margin-bottom: 40px;
    padding: 24px 12px;
    background-color: var(--background-white);
    border-radius: var(--border-radius-12);
}

.general__tabs {
    display: flex;
    padding: 2px;
    background-color: #76768014;
    border-radius: var(--border-radius-8);
}

.general__tab {
    padding: 12px 8px;
    font-weight: 500;
    color: var(--content-gray);
    border-radius: var(--border-radius-6);
    transition: all 0.3s ease;
}

.general__tab:hover,
.general__tab.active {
    background-color: var(--background-white);
}

.general__item-group {
    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.general__items {
    background-color: var(--background-white);
    border-radius: var(--border-radius-8);
}

.general__item {
    padding-left: 16px;
    cursor: pointer;
    transition: all .3s linear;

    &:not(:last-child) {
        .general__item-info {
            border-bottom: 1px solid #EFEFF4;
        }
    }

    &:hover {
        opacity: .7;
    }
}

.general__item-icon {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-8);
}

.general__item-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px 10px 0;
}

.general__item-key {
    margin-bottom: 4px;
    font-weight: 500;
}

.general__item-value {
    display: -webkit-box;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.general__networks {
    display: flex;
    column-gap: 28px;
    justify-content: center;
    padding: 20px;
    background-color: var(--background-white);
    border-radius: var(--border-radius-10);
}

.general__info {
    padding: 20px;
    background-color: var(--background-white);
    border-radius: var(--border-radius-10);
}