.c-spinner {
    display: grid;
    place-items: center;
    height: 100%;

    &.full {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
        color: red;
    }
}
