.problem {
    height: 100vh;
    padding: 24px 16px;
    background-color: #EFEFF4;
    overflow-y: auto;
}

.problem__items {
    padding-left: 16px;
    background-color: var(--background-white);
    border-top-left-radius: var(--border-radius-10);
    border-top-right-radius: var(--border-radius-10);
}

.problem__item {
    cursor: pointer;
}

.problem__item-icon {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    border-radius: var(--border-radius-8);

    &.blue {
        background-color: var(--background-blue);
    }

    &.green {
        background-color: var(--background-green);
    }
}

.problem__item-info {
    flex-grow: 1;
    padding: 10px 12px 10px 0;
    border-bottom: 1px solid #EFEFF4;
}

.problem__item-key {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
}

.problem__item-value {
    font-size: 14px;
    color: var(--content-blue);
}

.problem__networks {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--background-white);
    border-radius: var(--border-radius-10);
}