.c-uploader {
  display: block;

  &.state-default {
    .c-uploader__content {
      border-color: var(--border-line);
    }
  }

  &.state-success {
    .c-uploader__content {
      border-color: var(--border-green);
    }
  }

  &.state-error {
    .c-uploader__content {
      border-color: var(--border-red);
    }
  }

  &.state-uploaded {
    .c-uploader__content {
      border-color: var(--background-white);
    }
  }

  &:hover {
    .c-uploader__content {
      border-color: var(--border-blue);
    }

    .c-uploader__upload-icon {
      color: var(--content-blue);
      transition: all .3s linear;
    }
  }
}

.c-uploader__content {
  background-color: #CBDDF6;
  border: 1px solid var(--border-line);
  border-radius: var(--border-radius-12);
  transition: all .3s linear;
  user-select: none;
}

/* Default Styles */
.c-uploader__upload {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  padding: 12px 24px;
  cursor: pointer;
}

.c-uploader__upload-icon {
  flex-shrink: 0;
}

.c-uploader__upload-btn {
  /*display: block;*/
  /*width: 100%;*/
  /*padding: 5px 8px;*/
  /*font-weight: 600;*/
  /*font-size: 14px;*/
  /*line-height: 140%;*/
  /*text-align: center;*/
  /*background-color: var(--background-white);*/
  /*color: var(--content-blue);*/
  /*border-radius: var(--border-radius-4);*/
  /*cursor: pointer;*/
  /*user-select: none;*/
  /*transition: all 0.3s ease-in-out;*/

  /*&:hover {*/
  /*  color: var(--content-blue);*/
  /*}*/

  input {
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
}

/* Preview Styles */
.c-uploader__preview {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 120px;
  min-width: 120px;
  height: 120px;
  min-height: 120px;
  padding: 12px;
  overflow: hidden;
  border-radius: var(--border-radius-4);
}

.c-uploader__preview-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--background-white);

  .file-type {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--content-tertiary);
    border-radius: var(--border-radius-4);
  }

  .file-type--file {
    background: linear-gradient(135deg, #e6fffd 0%, #a3deff 100%);
  }

  .file-type--video {
    background: linear-gradient(135deg, #fbffe6 0%, #ffc4a3 100%);
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.21%, rgba(0, 0, 0, 0.35) 100%);
    content: '';
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.c-uploader__preview-btns {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-uploader__preview-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 0 4px;
  background-color: var(--background-white);
  color: var(--content-blue);
  border-radius: var(--border-radius-4);
  cursor: pointer;

  &:first-child:hover {
    color: var(--content-blue);
  }

  &:last-child:hover {
    color: var(--content-red);
  }
}

/* Progress Styles */
.c-uploader__progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 8px;
}

.c-uploader__progress-header {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.c-uploader__progress-title,
.c-uploader__progress-percent {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: var(--content-blue);
}

.c-uploader__progress-title {
  flex: 1;
  width: 100%;
}

.c-uploader__progress-percent {
  margin-left: 8px;
}

.c-uploader__progress-cancel {
  width: 16px;
  min-width: 16px;
  height: 16px;
  margin-left: 8px;
  color: var(--content-blue);
  cursor: pointer;
  user-select: none;
}

.c-uploader__progress-bar {
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: var(--background-white);
  border-radius: 29px;

  .progress-bar-inner {
    height: 10px;
    background-color: var(--background-blue);
    border-radius: 33px;
  }
}

.c-uploader__progress-info {
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: var(--content-secondary);
}

.message {
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
  display: block;
  font-size: 12px;
  line-height: 1;
  color: var(--content-red);
}