.place {

}

.place__head {
    position: relative;
}

.place__head-discount,
.place__head-time {
    position: absolute;
    left: 16px;
    font-weight: 500;
    font-size: 14px;
    border-radius: var(--border-radius-8);
}

.place__head-discount {
    top: 16px;
    padding: 8px;
    background-color: #D4CFC7;
    color: var(--content-red);
}

.place__head-time {
    top: 168px;
    padding: 8px 16px;
    background-color: #34C759;
    color: var(--content-white);
}

.place__head-icons {
    position: absolute;
    top: 160px;
    right: 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.place__head-icon {
    display: grid;
    place-items: center;
    width: 56px;
    height: 56px;
}

.place__body {
    /* TODO: Fix problem */
    transform: translateY(-30px);
    padding: 30px 16px;
    background-color: #EFEFF4;
    border-top-left-radius: var(--border-radius-20);
    border-top-right-radius: var(--border-radius-20);
}

.place__tabs {
    display: flex;
    margin-bottom: 24px;
    padding: 2px;
    background-color: #76768014;
    border-radius: var(--border-radius-8);
}

.place__tab {
    width: 100%;
    padding: 12px 8px;
    text-align: center;
    font-weight: 500;
    color: var(--content-gray);
    border-radius: var(--border-radius-6);
    transition: all 0.3s ease;
}

.place__tab:hover,
.place__tab.active {
    background-color: var(--background-white);
    box-shadow: 0 3px 8px 0 #0000001F;
}

.place__spinner {
    height: 100vh;
}